# SPDX-FileCopyrightText: 2026 Naira Project Contributors
# SPDX-License-Identifier: Apache-2.0
#
# All changes to shared workflows require review from the platform team.

* @naira-project/maintainer
/.github/* @naira-project/auto
